.Custom{
    display: flex;
    justify-content: center;
}
.Login{
    display: flex;
    justify-content: center;
    
}
.Psw{
    display: flex;
    justify-content: center;
}
.Button{
    display: flex;
    justify-content: center;
   margin-right: 10px;
   
}
.Button button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #007bff; 
    border-radius: 5px; 
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none; 
  }
  .Border{
    border: black 1px solid;
    max-width: 300px;
    margin: 0 auto;
  }
